html, body { 
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body    {
    background-color: #8f809f;
}

.header {
    height: 100px;
    display: block;
}

header nav { height: 120px;}
        a   { color: #8f809f; }
        a:hover { color: #8f809f; }

.contenu{
    display: block;
    height: 935px;
}

.bloc-principal {
    width: 70%;
    float: right;
}

.sidebar-left {
    width: 30%;
    float: left;
    display: block;
    height: 85%;
}

.footer {
    height: 50px;
    display: block;
    background-color: #c3c3c3;
}

