html, body { height: 100px;}

body    {
    background-color: #8f809f;
}

header {
    height: 170px;
}

header nav { height: 120px;}
        a   { color: #8f809f; }
        a:hover { color: #8f809f; }

.acceuil-page {
    min-height: 100%;
    position: relative;
}

.bloc-principal {
    padding-bottom: 100px;
}

.navbar-form {
	margin-top: 60px;
}

.placeholder {
	margin-left: 40px;
	text-align: center;
	color: #CCC;
  	font-size: 20px;
}

.footer {
    height: 100px;
    position: absolute;
    background-color: #c3c3c3;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer i {
    margin-top: 50%;
    margin-bottom: 50%;
    color: #8f809f;
}
