<style>
	p 	{ 
			font-size: 14px;
			font-family: "Verdana, Geneva, sans-serif";
		}
</style>
<div id="footer">
	<div class="container-fluid">
		<p style="padding-top:20px" class="col-sm-offset-6">Join me on ...</p>
		<div class="col-sm-offset-5 col-sm-1">
			<i class="fa fa-facebook-square fa-3x"></i>
		</div>
		<div class="col-sm-1">
			<i class="fa fa-github-square fa-3x"></i>
		</div>
		<div class="col-sm-1">
			<i class="fa fa-linkedin-square fa-3x"></i>
		</div>
	</div>
</div>