<style>
	p 	{
			/*text-align: center;*/
			margin-left: 80px;
			font-size: 16px;
			font-family: "Verdana, Geneva, sans-serif";
			color: #8f809f;
		}
	i	{ color: #8f809f; }
</style>
<div id="footer">
	<div class="container-fluid">
		<p>Join me on ...</p>
		<div class="col-sm-offset-5 col-sm-1">
			<i class="fa fa-facebook-square fa-3x"></i>
		</div>
		<div class="col-sm-1">
			<i class="fa fa-github-square fa-3x"></i>
		</div>
		<div class="col-sm-1">
			<i class="fa fa-linkedin-square fa-3x"></i>
		</div>
	</div>
</div>