<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<ul class="nav nav-tabs nav-justified">
			<li><a href="/" role="presentation">Home</a></li>
			<li><a href="#" role="presentation">About</a></li>
			<li><a href="/log" role="presentation">Log</a></li>
		</ul>
	</div>
</nav>