<!DOCTYPE html>
<html lang="fr">
<head>
	<link rel="stylesheet" type="text/css" href="index.css">
	<% include head %>
</head>
<body>
	<header>
		<% include header %>
	</header>
<div class="acceuil-page">
	<div class="bloc-principal">
		<main class="content">

		</main>
	</div>
</div>
</body>
<footer>
	<% include footer %>
</footer>
</html>