<!DOCTYPE html>
<html>
	
	<head>
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<meta charset="utf-8">
		<title>Test</title>
	</head>

<body>

	<div class="header">
		<% include header %>
	</div>

	<div class="contenu">
		<% include content %>
	</div>

	<div class="footer">
		<% include footer %>
	</div>

</body>
</html>