<!DOCTYPE html>
<html lang="fr">
<head>
	<%include head %>
</head>
<body>
	<header>
		<%include header %>
	</header>
	
	<footer>
		<%include footer %>
	</footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://127.0.0.1:2121');
	socket.on('connect', function(data) {
		console.log(data);
		socket.emit('join', 'Hello from client');
	});
	socket.on('message', function(data) {
		alert(data);
	})
</script>
</html>