<!DOCTYPE html>
<html lang="fr">
<head>
	<%include head %>
	<style>
		body		{ padding-top: 180px;}
		.thumbnail	{ height: 200px;}
		hr 			{/* margin-top: 20px;*/
					  border: 0;
    				  height: 0;
    				  border-top: 1px solid rgba(0, 0, 0, 0.1);
    				  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    				}
    	p			{ text-align: center;
    					padding-top: 5px;}
	</style>
</head>
<body>
	<header>
		<%include header %>
	</header>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-1">
			<a href="#" class="thumbnail">
				<img src="https://i.ytimg.com/vi/pYxxWUXY7Qw/maxresdefault.jpg">
				<p >Counter GO</p>
			</a>
		</div>
		<div class="col-sm-4 col-sm-offset-2">
			<a href="#" class="thumbnail"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-1">
			<a href="#" class="thumbnail"></a>
		</div>
		<div class="col-sm-4 col-sm-offset-2">
			<a href="#" class="thumbnail"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-1">
			<a href="#" class="thumbnail"></a>
		</div>
		<div class="col-sm-4 col-sm-offset-2">
			<a href="#" class="thumbnail"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-1">
			<a href="#" class="thumbnail"></a>
		</div>
		<div class="col-sm-4 col-sm-offset-2">
			<a href="#" class="thumbnail"></a>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-1">
			<a href="#" class="thumbnail"></a>
		</div>
		<div class="col-sm-4 col-sm-offset-2">
			<a href="#" class="thumbnail"></a>
		</div>
	</div>
	<br>
	<footer>
		<%include footer %>
	</footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://127.0.0.1:2121');
	socket.on('connect', function(data) {
		console.log(data);
		socket.emit('join', 'Hello from client');
	});
	socket.on('message', function(data) {
		alert(data);
	})
</script>
</html>