<!DOCTYPE html>
<html lang="fr">
<head>
	<link rel="stylesheet" type="text/css" href="signup.css">
	<%include head %>
</head>
<body>
	<header>
		<%include header %>
	</header>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<h1><span class="fa fa-sign-in"></span> Sign up</h1>
			<!-- LOGIN FORMS -->
			<form action="/profile" method="post">
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" name="email" placeholder="E-mail">
				</div>
				<div class="form-group">
					<label>Confirm email</label>
					<input type="text" class="form-control" name="email" placeholder="E-mail">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="text" class="form-control" name="password" placeholder="Password">
				</div>
				<div class="form-group">
					<label>Confirm password</label>
					<input type="text" class="form-control" name="password" placeholder="Password">
				</div>
									<br>
				<button type="submit" class="btn btn-block">Sign up</button>
			</form>

			<hr>

			<p>Already have an account ? <a href="/login" class="colorLink">Log in</a> !</p>
			<p>Or go <a href="/" class="colorLink">Home</a> !</p>
		</div>
	</div>
	<footer>
		<%include footer %>
	</footer>
</body>
</html>